<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mastermind API!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <!-- Inclusiones de la cabecera para Swagger-UI -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:300,600|Titillium+Web:400,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('./swagger-ui/swagger-ui.css') }}" >
        <link rel="icon" type="image/png" href="{{ asset('./swagger-ui/favicon-32x32.png') }}" sizes="32x32" />
        <link rel="icon" type="image/png" href="{{ asset('./swagger-ui/favicon-16x16.png') }}" sizes="16x16" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>