{% extends 'base.html.twig' %}

{% block body %}
    <div id="swagger-ui"></div>

    <script src="{{ asset('./swagger-ui/swagger-ui-bundle.js') }}"> </script>
    <script src="{{ asset('./swagger-ui/swagger-ui-standalone-preset.js') }}"> </script>
    <script>
    window.onload = function() {

      // Build a system
      const ui = SwaggerUIBundle({
        url: "http://localhost:8000/swagger-ui/swagger.json",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        plugins: [
          SwaggerUIBundle.plugins.DownloadUrl
        ],
        layout: "StandaloneLayout"
      })

      window.ui = ui
    }
  </script>
{% endblock %}

{% block stylesheets %}
<style>
      html
      {
        box-sizing: border-box;
        overflow: -moz-scrollbars-vertical;
        overflow-y: scroll;
      }

      *,
      *:before,
      *:after
      {
        box-sizing: inherit;
      }

      body
      {
        margin:0;
        background: #fafafa;
      }
</style>
{% endblock %}
