{% extends 'base.html.twig' %}

{% block body %}
    <h1>Migrationversions list</h1>

    <table>
        <thead>
            <tr>
                <th>Version</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for migrationVersion in migrationVersions %}
            <tr>
                <td><a href="{{ path('migrationversions_show', { 'version': migrationVersion.version }) }}">{{ migrationVersion.version }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('migrationversions_show', { 'version': migrationVersion.version }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('migrationversions_edit', { 'version': migrationVersion.version }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('migrationversions_new') }}">Create a new migrationVersion</a>
        </li>
    </ul>
{% endblock %}
