{% extends 'base.html.twig' %}

{% block body %}
    <h1>Migrationversion</h1>

    <table>
        <tbody>
            <tr>
                <th>Version</th>
                <td>{{ migrationVersion.version }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('migrationversions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('migrationversions_edit', { 'version': migrationVersion.version }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
