{% extends 'base.html.twig' %}

{% block body %}
    <h1>Configs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Totalposition</th>
                <th>Totalplay</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for config in configs %}
            <tr>
                <td><a href="{{ path('config_show', { 'id': config.id }) }}">{{ config.id }}</a></td>
                <td>{{ config.totalposition }}</td>
                <td>{{ config.totalplay }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('config_show', { 'id': config.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('config_edit', { 'id': config.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_new') }}">Create a new config</a>
        </li>
    </ul>
{% endblock %}
