{% extends 'base.html.twig' %}

{% block body %}
    <h1>Config</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ config.id }}</td>
            </tr>
            <tr>
                <th>Totalposition</th>
                <td>{{ config.totalposition }}</td>
            </tr>
            <tr>
                <th>Totalplay</th>
                <td>{{ config.totalplay }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('config_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('config_edit', { 'id': config.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
