{% extends 'base.html.twig' %}

{% block body %}
    <h1>Playcolors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Orderplay</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for playColor in playColors %}
            <tr>
                <td><a href="{{ path('playcolor_show', { 'id': playColor.id }) }}">{{ playColor.id }}</a></td>
                <td>{{ playColor.position }}</td>
                <td>{{ playColor.orderplay }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('playcolor_show', { 'id': playColor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('playcolor_edit', { 'id': playColor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('playcolor_new') }}">Create a new playColor</a>
        </li>
    </ul>
{% endblock %}
