{% extends 'base.html.twig' %}

{% block body %}
    <h1>Playcolor</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ playColor.id }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ playColor.position }}</td>
            </tr>
            <tr>
                <th>Orderplay</th>
                <td>{{ playColor.orderplay }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('playcolor_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('playcolor_edit', { 'id': playColor.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
