{% extends 'base.html.twig' %}

{% block body %}
    <h1>Colors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Codehex</th>
                <th>Blackcolor</th>
                <th>Whitecolor</th>
                <th>Nullcolor</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for color in colors %}
            <tr>
                <td><a href="{{ path('color_show', { 'id': color.id }) }}">{{ color.id }}</a></td>
                <td>{{ color.name }}</td>
                <td>{{ color.codehex }}</td>
                <td>{% if color.blackcolor %}Yes{% else %}No{% endif %}</td>
                <td>{% if color.whitecolor %}Yes{% else %}No{% endif %}</td>
                <td>{% if color.nullcolor %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('color_show', { 'id': color.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('color_edit', { 'id': color.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('color_new') }}">Create a new color</a>
        </li>
    </ul>
{% endblock %}
