{% extends 'base.html.twig' %}

{% block body %}
    <h1>Color</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ color.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ color.name }}</td>
            </tr>
            <tr>
                <th>Codehex</th>
                <td>{{ color.codehex }}</td>
            </tr>
            <tr>
                <th>Blackcolor</th>
                <td>{% if color.blackcolor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Whitecolor</th>
                <td>{% if color.whitecolor %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Nullcolor</th>
                <td>{% if color.nullcolor %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('color_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('color_edit', { 'id': color.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
