{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gamecolors list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for gameColor in gameColors %}
            <tr>
                <td><a href="{{ path('gamecolor_show', { 'id': gameColor.id }) }}">{{ gameColor.id }}</a></td>
                <td>{{ gameColor.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('gamecolor_show', { 'id': gameColor.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('gamecolor_edit', { 'id': gameColor.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('gamecolor_new') }}">Create a new gameColor</a>
        </li>
    </ul>
{% endblock %}
