{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plays list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Orderplay</th>
                <th>Created</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for play in plays %}
            <tr>
                <td><a href="{{ path('play_show', { 'id': play.id }) }}">{{ play.id }}</a></td>
                <td>{{ play.orderplay }}</td>
                <td>{% if play.created %}{{ play.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ play.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('play_show', { 'id': play.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('play_edit', { 'id': play.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('play_new') }}">Create a new play</a>
        </li>
    </ul>
{% endblock %}
