{% extends 'base.html.twig' %}

{% block body %}
    <h1>Play</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ play.id }}</td>
            </tr>
            <tr>
                <th>Orderplay</th>
                <td>{{ play.orderplay }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{% if play.created %}{{ play.created|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ play.position }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('play_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('play_edit', { 'id': play.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
